body {
	background-color: black;
	background-image: url(football/uplakanaloptica.jpg),url(football/veselapizza.jpg),url(football/veselipomodor.jpg),url(football/veselisirko.jpg);

	background-size: 200px 180px;
	background-repeat: no-repeat,no-repeat,no-repeat,no-repeat;
	background-position: right top,left top,right bottom,left bottom;
}
#myDiagramDiv {
	border:12px solid blue;
	background:#009900;
	width:700px; 
	height:600px;
	margin: auto;
	background-image: url(football/novacizmica.jpg),url(football/loptica.jpg);
	background-size: 200px 160px,100px 80px;
	background-repeat: no-repeat,no-repeat;
	background-position: right top,left top;
}
h1 {
	color:green;
	text-align: center;
	font-size: 80px;
	font-family: cursive;
	  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}
@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #ff0000, 0 0 40px #ff0000, 0 0 50px #ff0000, 0 0 60px #ff0000, 0 0 70px #ff0000;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff1a1a, 0 0 40px #ff1a1a, 0 0 50px #ff1a1a, 0 0 60px #ff1a1a, 0 0 70px #ff1a1a, 0 0 80px #ff1a1a;
  }
}

